.button1
{
-fx-background-color :  #d6c7db;
-fx-background-radius :  10;
}
.button1:hover
{
-fx-background-color : #252225 ;
-fx-text-fill: #ffffff;

}
.button1:pressed
{
-fx-background-color : #222022 ;
-fx-text-fill: #ffffff;

}

.button2
{

    -fx-background-color : #5853583b;
    -fx-background-radius :  0 0 0 0;
}
.button2:hover
{
    -fx-background-color : #424242 ;
}
.button2:pressed
{
    -fx-background-color : #272727 ;
}

.button3
{
    -fx-background-color : #6c6c6c00;
    -fx-background-radius :  0 0 0 0;
}
.button3:hover
{
    -fx-background-color : #424242 ;
}
.button3:pressed
{
    -fx-background-color : #272727 ;
}

.button4
{
    -fx-background-color : #6c6c6c4b;
    -fx-background-radius :  20;
}
.button4:hover
{
    -fx-background-color : #424242;
    -fx-background-radius :  20;
}
.button4:pressed
{
    -fx-background-color : #272727;
    -fx-background-radius :  20;
}

.button5
{
-fx-background-color :  #2d2b2e;
-fx-background-radius :  10;
-fx-text-fill: #ffffff;
}
.button5:hover
{
-fx-background-color : #252225 ;
-fx-text-fill: #ffffff;

}
.button5:pressed
{
-fx-background-color : #222022 ;
-fx-text-fill: #ffffff;

}

.progress-bar {
    -fx-accent: #00ff00; /* Зеленый цвет заполнения */
}


/* Стили для ScrollBar */
.scroll-bar {
    -fx-background-color: #f1f1f100; /* Цвет фона ScrollBar */
    -fx-border-color: #d1d1d1; /* Цвет границы ScrollBar */
    -fx-border-radius: 10; /* Скругление углов */
    -fx-pref-width: 250px; /* Ширина ScrollBar */
}

/* Стили для "ползунка" (thumb) в ScrollBar */
.scroll-bar .thumb {
    -fx-background-color: #5b289e; /* Цвет ползунка */
    -fx-background-radius: 10; /* Скругление углов ползунка */
}

/* Стили для стрелок прокрутки */
.scroll-bar .increment-arrow-button, 
.scroll-bar .decrement-arrow-button {
    -fx-background-color: #ffffff; /* Цвет фона стрелок */
    -fx-border-color: #0078d7; /* Цвет границы стрелок */
    -fx-border-radius: 5; /* Скругление углов стрелок */
}

/* Стили для области track (полосы прокрутки) */
.scroll-bar .track {
    -fx-background-color: #e0e0e0da; /* Цвет полосы прокрутки */
    -fx-background-radius: 10; /* Скругление углов полосы прокрутки */
}


/* Стили для TextField */
.text-field {
    -fx-background-color: #e0e0e0da; /* Цвет фона */
    -fx-border-color: #665f6500; /* Цвет границы */
    -fx-border-radius: 15; /* Скругление углов */
    -fx-border-width: 1px; /* Толщина границы */
    -fx-padding: 5px; /* Отступы внутри поля */
    -fx-font-size: 14px; /* Размер шрифта */
    -fx-text-fill: #000000; /* Цвет текста */
}

/* Стили для фокуса (когда поле в фокусе) */
.text-field:focused {
    -fx-background-color: #e0e0e0da; /* Цвет фона при фокусе */
    -fx-border-color: #665f65; /* Цвет границы при фокусе */
}

/* Стили для текста при вводе */
.text-field .text {
    -fx-font-family: Myanmar Text; /* Шрифт текста */
}

/* Стили для пустого поля */
.text-field:empty {
    -fx-text-fill: #ffffff; /* Цвет текста, когда поле пустое */
}

/* Стили для места для ввода текста (promptText) */
.text-field .prompt-text {
    -fx-text-fill: #000000; /* Цвет текста подсказки */
}




/* Стили для обычного состояния CheckBox */
.check-box {
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
}

/* Стили для состояния "выбрано" */
.check-box:selected {
    -fx-mark-color: #2a9d8f; /* Цвет галочки */
    -fx-border-color: #2a9d8f; /* Цвет рамки */
}

/* Стили при наведении */
.check-box:hover {
    -fx-background-color: #f4a261;
}